# Copy this file and rename it `env`
# Do NOT ever include your *real* env in version control

MYSQL_DATABASE=msis
MYSQL_HOST=msis.crarq9pd8gng.us-east-1.rds.amazonaws.com
MYSQL_USER=newadmin
MYSQL_PASSWORD=Radheradhe121
