#mainContent {
  border: 1px red solid;
  background-color: rgb(255,230,230);
}

.queueView {
  border: 1px blue dotted;
  background-color: rgb(230,230,230);
}

.patientWaiting {
  background-color: white;
  margin: 6px;
  padding: 6px;
  border: 2px solid rgb(200,200,200);
}

.patientName {
  font-weight: bold;
}

.highPriority {
  border-left-color: red;
  border-left-width: 6px;
}

.mediumPriority {
  border-left-color: orange;
  border-left-width: 6px;
}

.lowPriority {
  border-left-color: blue;
  border-left-width: 6px;
}
